h1, h2, h3 {
    margin: 0;
}
body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: pink;
}

/* navigation */

nav {
    height: 60px;
    background-color: pink;
    width: 100%;
    position: fixed;
    top: 0;
}
nav a {
    box-sizing: border-box;
    padding: 21px;
    height: 100%;
    display: inline-block;
    text-decoration: none;
    color: #000;
}
.text-nav {
    display: inline-block;
}
.social {
    display: inline-block;
    float: right;
}
.social a i {
    font-size: 1.2rem;
}
nav a:hover {
    background-color: #ff9999;
    
}

/* Header */

header {
    background-color: #000;
    color: pink;
    margin-top: 60px;
    padding: 20px;
    text-align: center;
}
header h1 {
    font-size: 70px;
}

/* Main */

main {
    position: relative;
    z-index: -1;
}
main h3 {
    padding: 20px;
}
.img-container {
    box-sizing: border-box;
    height: 400px;
    width: 75%;
    margin: 0 auto;
}
.gallery {
    display: inline-block;
    width: 24%;
}
.gallery img {
    height: 300px;
    width: 100%;
    border: 1px solid black;
}
.desc {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    border: 1px solid black;
}
.gallery:after {
    content: " ";
    display: table;
    clear: both;
}