h1, h2, h3 {
    margin: 0;
}
body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-image:linear-gradient(to right,purple,pink);

}

/* navigation */

nav { 
    height: 60px;
    background-image:linear-gradient(to right,pink,purple);
    width: 100%;
    position: fixed;
    top: 0;
}
nav a {
    box-sizing: border-box;
    padding: 21px;
    height: 100%;
    display: inline-block;
    text-decoration: none;
    color: #000;
}
.text-nav {
    display: inline-block;
}
.social {
    display: inline-block;
    float: right;
}
.social a i {
    font-size: 1.2rem;
}
nav a:hover {
    background-image: linear-gradient(to right, purple, pink);
    
}

/* Header */

header {
    background-image: linear-gradient(to left,purple,pink);
    color:black;
    margin-top: 60px;
    padding: 20px;
    text-align: center;
}
header h1 {
    font-size: 60px;
    font-family:monospace;
}
header h2{
    font-family: lucida calligraphy;
    font-size: 20px;
}
.content{
    width: 90%;
    height: 80vh;
    margin: 10vh 5%;
    background-image: linear-gradient(to right,purple,pink);
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.35);
    display: flex;
}
.text{
    width: 50%;
    height: 100%;
    position: relative;
    font-family: lucida calligraphy
}
.image {
    width: 50%;
    height: 100%;
}
.image img {
    width: 100%;
    height: 100%;
}