div{
    background-image: linear-gradient(blue, pink);
    height: 100px;
    width: 100px;
    border-radius: 20px;
    transform: translate(200px,50px) rotate(180deg) scale(2,2);
}
div hover{
    
}