div{
    background-image: linear-gradient(violet, gold);
    height: 100px;
    width: 100px;
    border-radius: 50%;
    transition: transform 2s ;
}
div:hover{
    transform: rotateX(100deg) rotateY(180deg) rotateZ(50deg);

}